[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/Jacob-C-Smith/json
[submodule "extern/queue"]
	path = extern/queue
	url = https://github.com/Jacob-C-Smith/queue
[submodule "extern/stack"]
	path = extern/stack
	url = https://github.com/Jacob-C-Smith/stack
[submodule "extern/sync"]
	path = extern/sync
	url = https://github.com/Jacob-C-Smith/sync
