[submodule "extern/hash-cache"]
	path = extern/hash-cache
	url = https://github.com/Jacob-C-Smith/hash-cache
[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/http"]
	path = extern/http
	url = https://github.com/Jacob-C-Smith/http
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/Jacob-C-Smith/json
[submodule "extern/queue"]
	path = extern/queue
	url = https://github.com/Jacob-C-Smith/queue
[submodule "extern/socket"]
	path = extern/socket
	url = https://github.com/Jacob-C-Smith/socket
[submodule "extern/stack"]
	path = extern/stack
	url = https://github.com/Jacob-C-Smith/stack
[submodule "extern/sync"]
	path = extern/sync
	url = https://github.com/Jacob-C-Smith/sync
[submodule "extern/tuple"]
	path = extern/tuple
	url = https://github.com/Jacob-C-Smith/tuple
[submodule "extern/parallel"]
	path = extern/parallel
	url = https://github.com/Jacob-C-Smith/parallel
[submodule "extern/log"]
	path = extern/log
	url = https://github.com/Jacob-C-Smith/log
[submodule "extern/base64"]
	path = extern/base64
	url = https://github.com/Jacob-C-Smith/base64
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/circular-buffer"]
	path = extern/circular-buffer
	url = https://github.com/Jacob-C-Smith/circular-buffer
[submodule "extern/g10-py"]
	path = extern/g10-py
	url = https://github.com/Jacob-C-Smith/g10-py
[submodule "extern/gschema"]
	path = extern/gschema
	url = https://github.com/Jacob-C-Smith/gschema
