[submodule "extern/log"]
	path = extern/log
	url = https://github.com/Jacob-C-Smith/log
[submodule "extern/sync"]
	path = extern/sync
	url = https://github.com/Jacob-C-Smith/sync
[submodule "extern/crypto"]
	path = extern/crypto
	url = https://github.com/Jacob-C-Smith/crypto
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/Jacob-C-Smith/json
